{% extends "base.html" %}
{% block title %}Yeni Randevu{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">
            <h4 class="mb-3">Yeni Randevu Ekle</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary w-100">Kaydet</button>
            </form>
            <a href="{% url 'event_list' %}" class="btn btn-link mt-2">← Ana Sayfa</a>
        </div>
    </div>
</div>
{% endblock %}
